.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.page-header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: grey;
}

.logout {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: end;
    align-self: center;
    background-color: grey;
}


nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: beige;
}

.note {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
}

.note-actions {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: green;
}