.div-level {
   display: flex;
   flex-flow: row;
   justify-content: center;
   padding:15px 5px;
}
 
.label-button{
   border: 1px solid #2c313a;
   color: rgb(110, 109, 109);
   display: inline-block;
   font-size: 2.5vh;
   padding: 8px;
   position: relative;
   text-align: center;
   
   cursor: pointer;
   min-width: 6vw;
}

.label-button:hover{
   background: none;
   color:rgb(168, 166, 166);
}

input[type="radio"]:focus+label{
   box-shadow: 2px 2px 10px rgba(161, 160, 160, 0.4);
   transition: box-shadow 0.3s;
}

input[type="radio"]{
   opacity: 0;
   width:0px;
   margin: 0px;
}
 
.label-button::after {
   background:  #394964;
   content: "";
   height: 100%;
   position: absolute;
   top: 0;
   -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
   transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
   width: 100%;
   z-index: -1;
}

input[type="radio"].toggle-left + label::after {
   left: 100%;
}

input[type="radio"].toggle-right + label::after {
   left: -100%;
}

input[type="radio"]:checked + label {
   cursor: default;
   color: white;
   transition: box-shadow 0.3s, color 0.5s;
   z-index:1;
 }
 
input[type="radio"]:checked + label::after {
   left: 0;
}
 