html {
    overflow-y: scroll;
    min-height: 100%;
  }
  body {
    margin: 0;
    background: rgb(179, 166, 166);
    color: #262526;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
  }
  
  aside,
  header,
  footer,
  main,
  section {
    display: block;
  }
  
  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8005;
    width: 100%;
    background-color: #302330;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 4px 2px;
  }
  
  .page-header_utilities {
    position: relative;
    z-index: 4;
    min-height: 29px;
    background-color: #1b061b;
    font-size: 13px;
  }
  .container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    min-height: 29px;
  }
  
  .header-quicklinks {
    float: left;
    margin: 0;
    max-width: 800px;
    padding-left: 0px;
  }
  .quick-links_wrapper {
    float: left;
    margin: 0px;
    padding-left: 100px;
  }
  .quick-links_item {
    display: inline-block;
    margin-left: 2rem;
    text-align: -webkit-match-parent;
  }
  .qlink {
    float: left;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    padding: 8px 5px 3px;
    display: block;
    background-color: transparent;
  }
  .header-signin {
    cursor: pointer;
    float: right;
    padding-right: 10px;
    z-index: 2;
  }
  .signin {
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    background-color: transparent;
    display: inline-block;
    padding: 5px 12px;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    color: rgb(223, 240, 74);
  }
  
  .page-header_container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    min-height: 29px;
  }
  .page-header_logo {
    float: left;
    margin: 0;
    max-width: 200px;
    padding-left: 115px;
  }
  
  .header-cart {
    position: relative;
    float: right;
    cursor: pointer;
    display: block;
    min-height: 45px;
  }
  
  .header-cart_trigger {
    background-image: url("cart.png");
    line-height: 80px;
    color: #fff;
    font-family: GalaxieCondensedMedium, Arial, sans-serif;
    white-space: nowrap;
    width: 100px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin: -1px 8px 0 10px;
  }
  .header-cart_count {
    top: 45%;
    right: 15%;
    padding: 0 6px;
    font-size: 12px;
    line-height: 21px;
    transform: translateY(-18px);
    border-radius: 4px;
    background: #e72020;
    color: #fff;
    position: absolute;
    text-align: center;
    border-style: solid;
    border-width: 0;
  }
  
  .page-content {
    height: auto;
    width: 100%;
    border-width: 2px;
    border-color: #e72020;
    padding-top: 81px;
    justify-content: space-evenly;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .page-content_aside {
    width: 20%;
    float: left;
    padding-left: 115px;
  }
  
  .page-content_center {
    float: right;
    padding-right: 115px;
    width: 55%;
  }
  
  .ul-vertical_nb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background: transparent;
  }
  
  .li-vertical_nb {
    margin: 5px 0px;
    border-radius: 5px;
    background-color: #454646;
  }
  .li-vertical_nb a {
    display: block;
    color: rgb(185, 182, 182);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .li-vertical_nb a.active {
    border-radius: 5px;
    background-color: rgb(2, 47, 58);
    color: white;
  }
  
  .li-vertical_nb a:hover:not(.active) {
    background-color: rgb(142, 160, 165);
    color: white;
  }
  
  .aside-info {
    text-align: justify;
  }
  
  .paging_menu {
    width: 100%;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .page-footer {
    background: #323a45;
    padding: 1rem 0;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #8a9098;
    text-align: center;
  }
  