.container {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: black;
}

#about-us {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: green;
}

aside {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#items {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: black;
}