:root {
  --med-size: 1em;
  --small-size: calc(var(--med-size) / 2);
  --tiny-size: calc(var(--small-size) / 2);
  --large-size: calc(var(--med-size) * 2);

  /* CSS in Depth */
  --brand-green: #076448;
  --dark-green: #099268;
  --medium-green: #20c997;
  --text-color: #212529;
  --gray: #868e96;
  --light-gray: #f1f3f5;
  --extra-light-gray: #f8f9fa;
  --white: #fff;

  color: var(--text-color);

  /* Bootstrap buttons*/
  --primary-button-blue: #337ab7;
  --success-button-green: #5cb85c;
  --info-button-blue: #5bc0de;
  --warning-button-yellow: #f0ad4e;
  --danger-button-red: #d9534f;

  /* Bootstrap background colors */
  --primary-blue: #337ab7;
  --success-green: #dff0d8;
  --info-blue: #d9edf7;
  --warning-yellow: #fcf8e3;
  --danger-red: #f2dede;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--extra-light-gray);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Sansita", serif;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--medium-green);
}

a:hover {
  color: var(--brand-green);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "nav items"
    "footer footer";
}

header {
  grid-area: header;
  background-color: var(--text-color);
  color: var(--white);
  padding: var(--med-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--tiny-size) solid var(--white);
}

header button {
  background-color: var(--primary-button-blue);
  padding: var(--med-size) var(--large-size);
  border-radius: 0.4em;
}

header a {
  color: var(--white);
}

/* Nav Menu */

aside {
  grid-area: nav;
  padding: var(--med-size);
  background-color: var(--text-color);
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--med-size);
}

.nav-links li {
  width: 100%;
}

.nav-links button {
  width: 100%;
  min-height: 3em;
  border-radius: 0.4em;
  background-color: var(--primary-button-blue);
}

.nav-links button a {
  color: var(--white);
}

/* Items List */

.items {
  grid-area: items;
  padding: var(--med-size);
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: var(--small-size);
}

.items-list > li {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "image name price"
    "image desc button";
  row-gap: var(--small-size);
  column-gap: var(--small-size);
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 0.4em;
  padding: var(--small-size);
  background-color: var(--light-gray);
}

.items-list > li > img {
  grid-area: image;
  height: 80px;
  width: 80px;
}

.items-list > li > div {
  grid-area: price;
  justify-self: end;
  align-self: center;
  background-color: var(--info-button-blue);
  color: var(--white);
  border-radius: 0.8em;
  padding: 0.3em 0.6em;
}

.items-list > li > button {
  grid-area: button;
  background-color: var(--success-button-green);
  color: var(--white);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}

/* Footer */

footer {
  grid-area: footer;
  background-color: var(--text-color);
  color: var(--white);
  padding: var(--med-size);
}
