:root {
  box-sizing: border-box;
  --med-size: 1em;
  --small-size: calc(var(--med-size) / 2);
  --tiny-size: calc(var(--small-size) / 2);

  /* CSS in Depth */
  --brand-green: #076448;
  --dark-green: #099268;
  --medium-green: #20c997;
  --black: #212529;
  --gray: #868e96;
  --light-gray: #f1f3f5;
  --extra-light-gray: #f8f9fa;
  --white: #fff;

  /* Bootstrap buttons*/
  --primary-button: #337ab7;
  --success-button: #5cb85c;
  --info-button: #5bc0de;
  --warning-button: #f0ad4e;
  --danger-button: #d9534f;

  /* Bootstrap background colors */
  --primary-background: #337ab7;
  --success-background: #dff0d8;
  --info-background: #d9edf7;
  --warning-background: #fcf8e3;
  --danger-background: #f2dede;
}

* {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Sansita", serif;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "nav items"
    "footer footer";
}

header {
  grid-area: header;
  background-color: var(--black);
  color: var(--white);
  padding: var(--med-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--tiny-size) solid var(--white);
}

header button {
  background-color: var(--primary-button);
  padding: 1em 1.5em;
  border-radius: 0.4em;
}

header a {
  color: var(--white);
}

/* Nav Menu */

aside {
  grid-area: nav;
  padding: var(--med-size);
  background-color: var(--black);
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-size);
}

.nav-links li {
  width: 100%;
}

.nav-links button {
  width: 100%;
  min-height: 3em;
  border-radius: 0.4em;
  background-color: var(--primary-button);
}

.nav-links a {
  color: var(--white);
}

/* Items List */

.items {
  grid-area: items;
  padding: var(--med-size);
  background-color: var(--light-gray);
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: var(--small-size);
  background-color: var(--light-gray);
}

.items-list > li {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  row-gap: var(--small-size);
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 0.4em;
  padding: var(--small-size);
}

.items-list > li > div {
  justify-self: end;
  background-color: var(--info-button);
  color: var(--white);
  border-radius: 0.8em;
  padding: 0.3em 0.6em;
}

.items-list > li > button {
  background-color: var(--success-button);
  color: var(--white);
  border-radius: 0.4em;
  padding: 0.3em 0.6em;
}

footer {
  grid-area: footer;
  background-color: var(--black);
  color: var(--white);
  padding: var(--med-size);
  border-top: var(--tiny-size) solid var(--white);
}
