body{
    font: 15px/1.5 Arial, Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    background-color: #3CAEA3;
    }

    /*Global*/

    .container{
        width: 80%;
        margin:auto;
        overflow:hidden;    
    }
        
    ul{
        margin:0;
        padding: 0;
    }

    /*Header*/
    header{
        background: #173F5F;
        color:#f4f4f4;
        padding-top:30px;
        min-height: 70px;
        border-bottom:#e8491d 3px solid;
}
    header a{
        color: #f4f4f4;
        text-decoration: none;
        font-size: 16px;
    }

    header li{
        float:left;
        display: inline;
        padding: 0 20px 0 20px;
    }

    header #branding{
        float:left;
    }

    header #branding h1{
        margin:0;
    }

    header nav{
        float:right;
        margin-top: 10px;
    }

    header a:hover{
        color: #cccccc;
        font-weight: bold;
    }

    #showcase{
        min-height: 400px;
        background: url('./images/regina.PNG'); no-repeat 0 100; /*was trying to align it but i dont think its working */
        text-align: center;
        color: #173F5F;
    }

    #showcase h1{
        margin-top:100px;
        font-size: 50px;
        margin-bottom: 10px;
    }

    #showcase p{
        font-size: 20px;
        font-weight: bold;
    }

    #working{
        margin-top: 20px;
        margin-left: -55px;
    }

    #working h3{
        color: #f4f4f4;
        font-size: 25px;
    }

    #working p{
        color: #f4f4f4;

    }