button {
  background-color: blue;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.container {
  margin: 10px;
  display: flex;
  border: 1px solid black;
}

.left_sidebar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 5px;
  width: 10%;
}

#inbox {
  background-color: red;
}


.right_sidebar {
  border: 1px solid black;
  width: 15%;
}

dt {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;

}

.left {
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
tr {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  margin-top: 5px;
}

input {
  margin: 5px 0;
  width: 100%;
}

label {
  position: absolute;
  display: block;
  left: 250px;
  transform: translateY(-1.34375em) scale(.75);
}

.material-icons {
  border-radius: 50%;
  background-color: grey;
  padding: 8px;
  margin: 5px;
  color: white;
}