.item-categories {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--med-size);

  background-color: var(--black);

  padding-left: var(--med-size);
}

.item-categories li {
  width: 100%;
}

.item-categories button {
  background-color: var(--primary-button);

  width: 100%;
  min-height: var(--huge-size);
  border-radius: var(--med-border-radius);
  color: var(--white);
}

.item-categories button:hover {
  font-weight: bold;
}
