:root {
  --med-size: 1em;
  --small-size: calc(var(--med-size) / 2);
  --tiny-size: calc(var(--small-size) / 2);
  --large-size: calc(var(--med-size) * 2);

  /* CSS in Depth */
  --brand-green: #076448;
  --dark-green: #099268;
  --medium-green: #20c997;
  --text-color: #212529;
  --gray: #868e96;
  --light-gray: #f1f3f5;
  --extra-light-gray: #f8f9fa;
  --white: #fff;

  color: var(--text-color);

  /* Bootstrap buttons*/
  --primary-button-blue: #337ab7;
  --success-button-green: #5cb85c;
  --info-button-blue: #5bc0de;
  --warning-button-yellow: #f0ad4e;
  --danger-button-red: #d9534f;

  /* Bootstrap background colors */
  --primary-blue: #337ab7;
  --success-green: #dff0d8;
  --info-blue: #d9edf7;
  --warning-yellow: #fcf8e3;
  --danger-red: #f2dede;
}

/* Global */

body {
  margin: 0;
  background-color: var(--extra-light-gray);
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Sansita", serif;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--brand-green);
}
