.item {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "image name price"
    "image desc button";
  row-gap: var(--small-size);
  column-gap: var(--small-size);
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 0.4em;
  padding: var(--small-size);
  background-color: var(--light-gray);
}

.item > img {
  grid-area: image;
  height: 80px;
  width: 80px;
}

.item > div {
  grid-area: price;
  justify-self: end;
  align-self: center;
  background-color: var(--info-button-blue);
  color: var(--white);
  border-radius: 0.8em;
  padding: 0.3em 0.6em;
}

.item > button {
  grid-area: button;
  background-color: var(--success-button-green);
  color: var(--white);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}
