.container {
  max-width: 1080px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "nav items"
    "footer footer";
  row-gap: var(--large-size);
  column-gap: var(--large-size);
}

.page-header {
  grid-area: header;
}

.nav-links {
  grid-area: nav;
}

.items {
  grid-area: items;
}

.page-footer {
  grid-area: footer;
}
